@model RegvedInventoryDB.Models.Product
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div>
    <div>
        <strong>Product Name:</strong> @Model.ProductName
    </div>
    <div>
        <strong>Description:</strong> @Model.Description
    </div>
    <div>
        <strong>Price:</strong> @Model.Price.ToString("C")
    </div>
    <div>
        <strong>Stock:</strong> @Model.Stock
    </div>
    <div>
        <strong>Manufacture Date:</strong> @Model.ManufactureDate.ToShortDateString()
    </div>
    <div>
        <strong>Category:</strong> @Model.CategoryName
    </div>
</div>
<a class="btn btn-secondary" asp-action="Index">Back to List</a>
<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a>